
.contract-adress {
    background-color: #41A2F8;
    color: white;
    font-size:2em;
    border: none;
    padding:10px 40px;
}
.presale p, .presale a{
    font-family: "Avenir Next";
}
.contract-adress:hover {
    color:white;
    cursor:pointer;
}
.inline-p {
    display:inline-block;
    color:#46525E;
    margin:50px !important;
}

#progress span, #total-supply span, #token-cap span {
    font-size:50px;
}

.links {
    margin-top: 20px !important;
}

.p-3 {
    width:33% !important;
}

/* Modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 800px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.show-this-later {
    display: none;
}
#myModal button {
    width:250px;
}
.show-this-later {
    width:100% !important;
}

#percent-finished {
    font-size:3em;
}
/* end modal */